:root {
  --color-porcelain: #f2f2f2;
}

.bg-gradient-hardEdge {
  background: linear-gradient(
    to bottom,
    var(--color-porcelain),
    var(--color-porcelain) 50%,
    white 0
  );
}

.bg-gradient-hardEdge-mobile{
  background: linear-gradient(
    to bottom,
    var(--color-porcelain),
    var(--color-porcelain) 36%,
    white 0
  );
}
